.register {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .register-form-div {
        background-color: #fff;
        height: 45%;
        display: flex;
        flex-direction: column;
        border: 2px solid #3f51b5;
        border-radius: 30px;
        gap: 2.5vh;
        padding: 3%;
        margin: 3vh 1.5vw;
        width: 20%;

        .register-form-div-label {
            font-size: 2.5rem;
            font-family: 'Lato', 'Roboto', sans-serif;
            align-self: center;
            color: #3f51b5;
        }

        .register-form {
            padding: 2px 0 2px 0;
            width: 100%;
            display: grid;
            grid-template:  "fullname fullname"
                            "email email"
                            "password cpassword";

            font-size: 1.2rem;
            column-gap: 3%;
            box-sizing: border-box;
            .form-fullname {
                grid-area: fullname;
            }
            .form-email {
                grid-area: email;
            }
            .form-password {
                grid-area: password;
            }
            .form-confirm-password {
                grid-area: cpassword;
            }

            .title {
                text-transform: capitalize;
            }
        }
        .register-form-button {
            border-radius: 30px;
            border: 1px solid #3f51b5 ;
            height: 4vh;
            font-size: 1.2rem;

            &:hover {
                color: white;
                background-color: #3f51b5;
                &:disabled {
                    color: grey;
                    border: 1px solid grey;
                    background-color: white;
                }
            }
            &:disabled {
                color: grey;
                border: 1px solid grey;
                background-color: white;
            }
            
        }
    }
}

.password-info {
    z-index: 10;
    position: absolute;
}