@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap');


html, body { height: 100vh; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: rgb(193, 151, 230);
}
